In [46]:
from IPython.display import IFrame
ATPlink="https://www.tennisexplorer.com/ranking/atp-men/"
IFrame(ATPlink, width=900, height=500)

In [50]:
import pandas as pd
ATPtables=pd.read_html(ATPlink, header=0, flavor='bs4')

In [48]:
ATPtables[1]

    Rank Move                  Player name         Country  Points
0    1.0    4               Djokovic Novak          Serbia    7070
1    2.0    1               Alcaraz Carlos           Spain    6730
2    3.0    1           Tsitsipas Stefanos          Greece    6195
3    4.0    1                  Ruud Casper          Norway    5765
4    5.0    1                Rublev Andrey          Russia    4200
5    6.0    4                 Nadal Rafael           Spain    3815
6    7.0    -        Auger Aliassime Felix          Canada    3715
7    8.0    1           Fritz Taylor Harry             USA    3410
8    9.0    1                  Rune Holger         Denmark    3046
9   10.0    1               Hurkacz Hubert          Poland    2995
10  11.0    1               Norrie Cameron   Great Britain    2760
11  12.0    4              Medvedev Daniil          Russia    2750
12  13.0    7              Khachanov Karen          Russia    2515
13  14.0    1             Zverev Alexander         Germany    2425
14  15.0    2               Tiafoe Frances             USA    2305
15  16.0    1          Carreno-Busta Pablo           Spain    2285
16  17.0    1                Sinner Jannik           Italy    2195
17  18.0    1              Musetti Lorenzo           Italy    1925
18  19.0   16                   Paul Tommy             USA    1835
19  20.0    1                 Kyrgios Nick       Australia    1825
20  21.0    3                  Cilic Marin         Croatia    1790
21  22.0    8            Berrettini Matteo           Italy    1780
22  23.0    -                  Coric Borna         Croatia    1770
23  24.0    1        Bautista-Agut Roberto           Spain    1765
24  25.0    1               De Minaur Alex       Australia    1710
25  26.0    5              Korda Sebastian             USA    1595
26  27.0    5             Shapovalov Denis          Canada    1560
27  28.0    2            Schwartzman Diego       Argentina    1550
28  29.0    1              Dimitrov Grigor        Bulgaria    1440
29  30.0    -                 Evans Daniel   Great Britain    1380
30  31.0    2          Cerundolo Francisco       Argentina    1377
31  32.0    -  Davidovich Fokina Alejandro           Spain    1325
32  33.0    -           Nishioka Yoshihito           Japan    1302
33  34.0    7            Kecmanovic Miomir          Serbia    1275
34  35.0    1      Van De Zandschulp Botic     Netherlands    1160
35  36.0    -             Bublik Alexander      Kazakhstan    1095
36  37.0    -         Ramos-Vinolas Albert           Spain    1075
37  38.0    1              Brooksby Jenson             USA    1070
38  39.0   32                 Lehecka Jiri  Czech Republic    1042
39  40.0    2                  Draper Jack   Great Britain    1024
40  41.0    9                 Goffin David         Belgium     985
41  42.0    1                   Isner John             USA     980
42  43.0    3              Ruusuvuori Emil         Finland     976
43  44.0   45                  Shelton Ben             USA     964
44  45.0    3               Bonzi Benjamin          France     956
45  46.0    4              Gasquet Richard          France     955
46  47.0    3               Baez Sebastian       Argentina     940
47  48.0   19            Wolf Jeffrey John             USA     922
48  49.0    9                Opelka Reilly             USA     915
49  50.0    1            Nakashima Brandon             USA     902

In [51]:
DFatp=ATPtables[1].copy()

In [53]:
DFatp.columns

Index(['Rank', 'Move', 'Player name', 'Country', 'Points'], dtype='object')

In [54]:
bye=[1]
DFatp.drop(columns=DFatp.columns[bye],inplace=True)
DFatp

    Rank                  Player name         Country  Points
0    1.0               Djokovic Novak          Serbia    7070
1    2.0               Alcaraz Carlos           Spain    6730
2    3.0           Tsitsipas Stefanos          Greece    6195
3    4.0                  Ruud Casper          Norway    5765
4    5.0                Rublev Andrey          Russia    4200
5    6.0                 Nadal Rafael           Spain    3815
6    7.0        Auger Aliassime Felix          Canada    3715
7    8.0           Fritz Taylor Harry             USA    3410
8    9.0                  Rune Holger         Denmark    3046
9   10.0               Hurkacz Hubert          Poland    2995
10  11.0               Norrie Cameron   Great Britain    2760
11  12.0              Medvedev Daniil          Russia    2750
12  13.0              Khachanov Karen          Russia    2515
13  14.0             Zverev Alexander         Germany    2425
14  15.0               Tiafoe Frances             USA    2305
15  16.0          Carreno-Busta Pablo           Spain    2285
16  17.0                Sinner Jannik           Italy    2195
17  18.0              Musetti Lorenzo           Italy    1925
18  19.0                   Paul Tommy             USA    1835
19  20.0                 Kyrgios Nick       Australia    1825
20  21.0                  Cilic Marin         Croatia    1790
21  22.0            Berrettini Matteo           Italy    1780
22  23.0                  Coric Borna         Croatia    1770
23  24.0        Bautista-Agut Roberto           Spain    1765
24  25.0               De Minaur Alex       Australia    1710
25  26.0              Korda Sebastian             USA    1595
26  27.0             Shapovalov Denis          Canada    1560
27  28.0            Schwartzman Diego       Argentina    1550
28  29.0              Dimitrov Grigor        Bulgaria    1440
29  30.0                 Evans Daniel   Great Britain    1380
30  31.0          Cerundolo Francisco       Argentina    1377
31  32.0  Davidovich Fokina Alejandro           Spain    1325
32  33.0           Nishioka Yoshihito           Japan    1302
33  34.0            Kecmanovic Miomir          Serbia    1275
34  35.0      Van De Zandschulp Botic     Netherlands    1160
35  36.0             Bublik Alexander      Kazakhstan    1095
36  37.0         Ramos-Vinolas Albert           Spain    1075
37  38.0              Brooksby Jenson             USA    1070
38  39.0                 Lehecka Jiri  Czech Republic    1042
39  40.0                  Draper Jack   Great Britain    1024
40  41.0                 Goffin David         Belgium     985
41  42.0                   Isner John             USA     980
42  43.0              Ruusuvuori Emil         Finland     976
43  44.0                  Shelton Ben             USA     964
44  45.0               Bonzi Benjamin          France     956
45  46.0              Gasquet Richard          France     955
46  47.0               Baez Sebastian       Argentina     940
47  48.0            Wolf Jeffrey John             USA     922
48  49.0                Opelka Reilly             USA     915
49  50.0            Nakashima Brandon             USA     902

In [106]:
DFatp.columns.to_list()

['Rank', 'Name', 'Country', 'Points']

In [114]:
DFatp.columns.str.replace(pat="Name",
                           repl="Name(Male)", 
                           regex=True)

Index(['Rank', 'Name(Male)', 'Country', 'Points'], dtype='object')

In [115]:
DFatp.columns.str.replace("Name","Name(Male)",regex=True).to_list()

['Rank', 'Name(Male)', 'Country', 'Points']

In [118]:
DFatp.columns=DFatp.columns.str.replace("Name","Name(Male)",regex=True).to_list()

In [120]:
DFatp.Country.str.strip()

0             Serbia
1              Spain
2             Greece
3             Norway
4             Russia
5              Spain
6             Canada
7                USA
8            Denmark
9             Poland
10     Great Britain
11            Russia
12            Russia
13           Germany
14               USA
15             Spain
16             Italy
17             Italy
18               USA
19         Australia
20           Croatia
21             Italy
22           Croatia
23             Spain
24         Australia
25               USA
26            Canada
27         Argentina
28          Bulgaria
29     Great Britain
30         Argentina
31             Spain
32             Japan
33            Serbia
34       Netherlands
35        Kazakhstan
36             Spain
37               USA
38    Czech Republic
39     Great Britain
40           Belgium
41               USA
42           Finland
43               USA
44            France
45            France
46         Argentina
47               USA
48               USA
49               USA
Name: Country, dtype: object

In [121]:
DFatp.Country.value_counts()

USA               10
Spain              6
Italy              3
Great Britain      3
Argentina          3
Russia             3
Croatia            2
Australia          2
Serbia             2
Canada             2
France             2
Poland             1
Germany            1
Denmark            1
Norway             1
Greece             1
Bulgaria           1
Japan              1
Netherlands        1
Kazakhstan         1
Czech Republic     1
Belgium            1
Finland            1
Name: Country, dtype: int64

In [122]:
tableCounts=DFatp.Country.value_counts()
tableCounts

USA               10
Spain              6
Italy              3
Great Britain      3
Argentina          3
Russia             3
Croatia            2
Australia          2
Serbia             2
Canada             2
France             2
Poland             1
Germany            1
Denmark            1
Norway             1
Greece             1
Bulgaria           1
Japan              1
Netherlands        1
Kazakhstan         1
Czech Republic     1
Belgium            1
Finland            1
Name: Country, dtype: int64

In [123]:
tableCounts[tableCounts==10]

USA    10
Name: Country, dtype: int64

In [124]:
MostPlayers=tableCounts[tableCounts==10].index.to_list()
MostPlayers

['USA']

In [125]:
DFatp[DFatp.Country.isin(MostPlayers)]

    Rank          Name(Male) Country  Points
7      8  Fritz Taylor Harry     USA    3410
14    15      Tiafoe Frances     USA    2305
18    19          Paul Tommy     USA    1835
25    26     Korda Sebastian     USA    1595
37    38     Brooksby Jenson     USA    1070
41    42          Isner John     USA     980
43    44         Shelton Ben     USA     964
47    48   Wolf Jeffrey John     USA     922
48    49       Opelka Reilly     USA     915
49    50   Nakashima Brandon     USA     902

In [126]:
DFatp.Rank.dtype

dtype('int64')

In [127]:
 DFatp['Rank']=DFatp['Rank'].astype('int64')

In [128]:
DFatp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        50 non-null     int64
 1   Name(Male)  50 non-null     object
 2   Country     50 non-null     object
 3   Points      50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [129]:
DFatp.to_csv("ATPrank.csv",index=False)

In [130]:
ATPcsv=pd.read_csv('ATPrank.csv')

ATPcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        50 non-null     int64
 1   Name(Male)  50 non-null     object
 2   Country     50 non-null     object
 3   Points      50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [147]:
from IPython.display import IFrame
WTAlink="https://www.tennisexplorer.com/ranking/wta-women/"
IFrame(WTAlink, width=900, height=500)

In [148]:
import pandas as pd
WTAtables=pd.read_html(WTAlink, header=0, flavor='bs4')

In [150]:
WTAtables[1]

    Rank Move               Player name         Country  Points
0    1.0    -               Swiatek Iga          Poland   10485
1    2.0    3           Sabalenka Aryna         Belarus    6100
2    3.0    1                Jabeur Ons         Tunisia    5210
3    4.0    1            Pegula Jessica             USA    5000
4    5.0    1           Garcia Caroline          France    4645
5    6.0    1                Gauff Cori             USA    3992
6    7.0    1             Sakkari Maria          Greece    3811
7    8.0    -           Kasatkina Darya          Russia    3380
8    9.0    1            Bencic Belinda     Switzerland    2905
9   10.0   15            Rybakina Elena      Kazakhstan    2815
10  11.0    2      Kudermetova Veronika          Russia    2740
11  12.0    5          Ostapenko Jelena          Latvia    2340
12  13.0    2             Kvitova Petra  Czech Republic    2281
13  14.0    -       Haddad Maia Beatriz          Brazil    2195
14  15.0    3              Halep Simona         Romania    2141
15  16.0    8         Azarenka Viktoria         Belarus    2138
16  17.0    1     Alexandrova Ekaterina          Russia    2030
17  18.0    1           Kontaveit Anett         Estonia    1909
18  19.0    1        Samsonova Ludmilla          Russia    1905
19  20.0   11         Pliskova Karolina  Czech Republic    1880
20  21.0    5              Badosa Paula           Spain    1862
21  22.0   23             Linette Magda          Poland    1770
22  23.0    1               Zhang Shuai           China    1710
23  24.0   11              Keys Madison             USA    1668
24  25.0    4          Trevisan Martina           Italy    1572
25  26.0    -            Bouzkova Marie  Czech Republic    1521
26  27.0    3                Begu Irina         Romania    1472
27  28.0    5       Teichmann Jil Belen     Switzerland    1429
28  29.0    1              Zheng Qinwen           China    1415
29  30.0    7        Krejcikova Barbora  Czech Republic    1410
30  31.0    8         Kalinina Anhelina         Ukraine    1347
31  32.0    -             Mertens Elise         Belgium    1339
32  33.0   31               Vekic Donna         Croatia    1326
33  34.0    1          Tomljanovic Ajla       Australia    1305
34  35.0    8          Anisimova Amanda             USA    1305
35  36.0    1              Martic Petra         Croatia    1297
36  37.0    1     Sasnovich Aliaksandra         Belarus    1291
37  38.0    2          Fernandez Leylah          Canada    1258
38  39.0    3        Stephens Sloane A.             USA    1244
39  40.0   29          Collins Danielle             USA    1218
40  41.0    -             Pera Bernarda             USA    1205
41  42.0    1  Andreescu Bianca Vanessa          Canada    1191
42  43.0    1        Potapova Anastasia          Russia    1139
43  44.0    3          Putintseva Yulia      Kazakhstan    1114
44  45.0    6             Rogers Shelby             USA    1062
45  46.0    -        Siniakova Katerina  Czech Republic    1055
46  47.0   18               Kanepi Kaia         Estonia    1052
47  48.0    9              Davis Lauren             USA    1014
48  49.0    1    Cocciaretto Elisabetta           Italy    1005
49  50.0    4              Sherif Mayar           Egypt     991

In [153]:
DFwta=WTAtables[1].copy()

In [154]:
DFwta.columns

Index(['Rank', 'Move', 'Player name', 'Country', 'Points'], dtype='object')

In [155]:
bye=[1]
DFwta.drop(columns=DFwta.columns[bye],inplace=True)
DFwta

    Rank               Player name         Country  Points
0    1.0               Swiatek Iga          Poland   10485
1    2.0           Sabalenka Aryna         Belarus    6100
2    3.0                Jabeur Ons         Tunisia    5210
3    4.0            Pegula Jessica             USA    5000
4    5.0           Garcia Caroline          France    4645
5    6.0                Gauff Cori             USA    3992
6    7.0             Sakkari Maria          Greece    3811
7    8.0           Kasatkina Darya          Russia    3380
8    9.0            Bencic Belinda     Switzerland    2905
9   10.0            Rybakina Elena      Kazakhstan    2815
10  11.0      Kudermetova Veronika          Russia    2740
11  12.0          Ostapenko Jelena          Latvia    2340
12  13.0             Kvitova Petra  Czech Republic    2281
13  14.0       Haddad Maia Beatriz          Brazil    2195
14  15.0              Halep Simona         Romania    2141
15  16.0         Azarenka Viktoria         Belarus    2138
16  17.0     Alexandrova Ekaterina          Russia    2030
17  18.0           Kontaveit Anett         Estonia    1909
18  19.0        Samsonova Ludmilla          Russia    1905
19  20.0         Pliskova Karolina  Czech Republic    1880
20  21.0              Badosa Paula           Spain    1862
21  22.0             Linette Magda          Poland    1770
22  23.0               Zhang Shuai           China    1710
23  24.0              Keys Madison             USA    1668
24  25.0          Trevisan Martina           Italy    1572
25  26.0            Bouzkova Marie  Czech Republic    1521
26  27.0                Begu Irina         Romania    1472
27  28.0       Teichmann Jil Belen     Switzerland    1429
28  29.0              Zheng Qinwen           China    1415
29  30.0        Krejcikova Barbora  Czech Republic    1410
30  31.0         Kalinina Anhelina         Ukraine    1347
31  32.0             Mertens Elise         Belgium    1339
32  33.0               Vekic Donna         Croatia    1326
33  34.0          Tomljanovic Ajla       Australia    1305
34  35.0          Anisimova Amanda             USA    1305
35  36.0              Martic Petra         Croatia    1297
36  37.0     Sasnovich Aliaksandra         Belarus    1291
37  38.0          Fernandez Leylah          Canada    1258
38  39.0        Stephens Sloane A.             USA    1244
39  40.0          Collins Danielle             USA    1218
40  41.0             Pera Bernarda             USA    1205
41  42.0  Andreescu Bianca Vanessa          Canada    1191
42  43.0        Potapova Anastasia          Russia    1139
43  44.0          Putintseva Yulia      Kazakhstan    1114
44  45.0             Rogers Shelby             USA    1062
45  46.0        Siniakova Katerina  Czech Republic    1055
46  47.0               Kanepi Kaia         Estonia    1052
47  48.0              Davis Lauren             USA    1014
48  49.0    Cocciaretto Elisabetta           Italy    1005
49  50.0              Sherif Mayar           Egypt     991

In [156]:
DFwta.columns=DFwta.columns.str.replace("Player name","Name(Female)",regex=True).to_list()

In [158]:
DFwta.Country.str.strip()

0             Poland
1            Belarus
2            Tunisia
3                USA
4             France
5                USA
6             Greece
7             Russia
8        Switzerland
9         Kazakhstan
10            Russia
11            Latvia
12    Czech Republic
13            Brazil
14           Romania
15           Belarus
16            Russia
17           Estonia
18            Russia
19    Czech Republic
20             Spain
21            Poland
22             China
23               USA
24             Italy
25    Czech Republic
26           Romania
27       Switzerland
28             China
29    Czech Republic
30           Ukraine
31           Belgium
32           Croatia
33         Australia
34               USA
35           Croatia
36           Belarus
37            Canada
38               USA
39               USA
40               USA
41            Canada
42            Russia
43        Kazakhstan
44               USA
45    Czech Republic
46           Estonia
47               USA
48             Italy
49             Egypt
Name: Country, dtype: object

In [161]:
tableCounts=DFwta.Country.value_counts()
tableCounts

USA               9
Russia            5
Czech Republic    5
Belarus           3
Poland            2
Italy             2
Canada            2
Croatia           2
Switzerland       2
Kazakhstan        2
Romania           2
Estonia           2
China             2
Australia         1
Belgium           1
Ukraine           1
Brazil            1
Spain             1
Latvia            1
Greece            1
France            1
Tunisia           1
Egypt             1
Name: Country, dtype: int64

In [162]:
tableCounts[tableCounts==2]

Poland         2
Italy          2
Canada         2
Croatia        2
Switzerland    2
Kazakhstan     2
Romania        2
Estonia        2
China          2
Name: Country, dtype: int64

In [164]:
MostPlayers=tableCounts[tableCounts==9].index.to_list()
MostPlayers

['USA']

In [165]:
DFwta[DFwta.Country.isin(MostPlayers)]

    Rank        Name(Female) Country  Points
3    4.0      Pegula Jessica     USA    5000
5    6.0          Gauff Cori     USA    3992
23  24.0        Keys Madison     USA    1668
34  35.0    Anisimova Amanda     USA    1305
38  39.0  Stephens Sloane A.     USA    1244
39  40.0    Collins Danielle     USA    1218
40  41.0       Pera Bernarda     USA    1205
44  45.0       Rogers Shelby     USA    1062
47  48.0        Davis Lauren     USA    1014

In [167]:
DFwta['Rank']=DFatp['Rank'].astype('int64')

In [168]:
DFwta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          50 non-null     int64
 1   Name(Female)  50 non-null     object
 2   Country       50 non-null     object
 3   Points        50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [169]:
DFwta.to_csv("WTArank.csv",index=False)

In [170]:
WTAcsv=pd.read_csv('WTArank.csv')

WTAcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          50 non-null     int64
 1   Name(Female)  50 non-null     object
 2   Country       50 non-null     object
 3   Points        50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB